body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#marker-ids {
    font-size: 1.5em;
    margin-top: 20px;
}

/* hide the camera, important */
#webcam-container {
    display: none;
}